<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>SlimTrack</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>SlimTrack <small>{POC}</small></h1>
      </div>
      
      <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/documentation">Documentation</a></li>
        <li><a href="/test">Browser based Test</a></li>
        <li><a href="/redis">Queued tags</a></li>
        <li><a href="/runner">Logs from runner</a></li>
        <li><a href="/failures">Failures</a></li>
      </ul>
      
      <%=yield%>

    </div>
  </body>
</html>