<div class="hero-unit">
  <h2>Get the latest JS</h2>
  <ul>
    <li><a href="/latest.js">BASE</a> (<a href="/latest.min.js">Minified</a>)</li>
    <% @profiles.each { |profile| %>
      <li><a href="/<%=profile %>/latest.js"><%=profile %></a> (<a href="/<%=profile %>/latest.min.js">Minified</a>)</li>
    <% } %>
  </ul>
</div>

<h2>SlimTrack Proof of Concept</h2>
<p>A proof of concept to see if we can move a lot of tracking code server-side. For the following reasons:</p>
<ul>
  <li>Vastly reduced code size on the frontend.</li>
  <li>Less processing work to be done by the browser.</li>
  <li>Simpler interface, with fewer functions available.</li>
  <li>Smaller traffic size between client and server for each tracking call.</li>
  <li>Re-use across all channels, Desktop, webapp, epaper, flipboard, future product x.</li>
  <li>Unified interface means we're quicker to react and make changes.</li>
  <li>Data can be sent to multiple datamarts; iJento, GA, Splunk etc.</li>
</ul>
