<h2>Browser based test</h2>
<% if ENV['testasync'] %>
  <div class="alert">
    <strong>Warning!</strong> ASYNC delay is enabled. Every request is delayed by 2 seconds!
  </div>
<% else %>
  <div class="alert alert-info">
    Delay is disabled. You can delay every request by 2 seconds to test syncronous calls. Use <code>testsync=true</code> when starting the server.
  </div>
<% end %>
<div class="well well-large">
  <div>
    <code><a href="javascript:// Run slimTrack.page();" id="page">slimTrack.page();</a></code>
    <code><a href="javascript:// Run slimTrack.page();" id="ftpage">slimTrack.page({ url : &quot;http://www.ft.com/home/uk&quot; });</a></code>  
  </div>
  <pre><div class="time"></div><div class="result"></div></pre>
</div>

<div class="well well-large">
  <div>
    <code><a href="javascript:// Run slimTrack.data();" id="data">slimTrack.data({ data : <span class="data-number">&lt;incrementing number&gt;</span> });</a></code>
    <code><a href="javascript:// Run slimTrack.data();" id="data-sync">slimTrack.data({ data : <span class="data-number">&lt;incrementing number&gt;</span>, async: false });</a></code>
  </div>
  <pre><div class="time"></div><div class="result"></div></pre>
</div>

<div class="well well-large">
  <div>
    <code><a href="javascript:// Run slimTrack.event();" id="event">slimTrack.event();</a></code>
  </div>
  <pre><div class="time"></div><div class="result"></div></pre>
</div>

<script src="/latest.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
  $(document).ready(function() {
    var data_counter = 0;

    $('#page, #ftpage, #data, #data-sync, #event').click(function() {
      var which = $(this).attr('id'),
              code = $(this).parents('.well').find('.result'),
              time = $(this).parents('.well').find('.time'),
              callback = function(response) {
        time.text('URL: ' + this.url + ' - Response time: ' + ((new Date()) - start) + 'msec');
        code.text(JSON.stringify(response, undefined, 2));
      },
              start = (new Date());

      switch (which) {
        case 'page':
          slimTrack.page({callback: callback});
          break;
        case 'ftpage':
          slimTrack.page({url: "http://www.ft.com/home/uk", callback: callback});
          break;
        case 'data':
          slimTrack.data({data: (data_counter += 1), callback: callback});
          $('.data-number').text(data_counter);
          break;
        case 'data-sync':
          slimTrack.data({data: (data_counter += 1), callback: callback, async: false});
          $('.data-number').text(data_counter);
          break;
        case 'event':
          slimTrack.event({callback: callback});
          break;
      }
    });
  });
</script>