<h2>Browser based test</h2>
<div class="well well-large">
  <pre><a href="javascript:// Run slimTrack.page();" id="page">slimTrack.page({ url : &quot;http://www.ft.com/home/uk&quot; });</a></pre>
  <div class="time"></div>
  <pre style="white-space: normal"></pre>
</div>

<div class="well well-large">
  <pre><a href="javascript:// Run slimTrack.data();" id="data">slimTrack.data({ data : &lt;incrementing number&gt; });</a></pre>
  <div class="time"></div>
  <pre style="white-space: normal"></pre>
</div>

<div class="well well-large">
  <pre><a href="javascript:// Run slimTrack.event();" id="event">slimTrack.event();</a></pre>
  <div class="time"></div>
  <pre style="white-space: normal"></pre>
</div>

<script src="/latest.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
  $(document).ready(function() {
    var data_counter = 0;
    
    $('#page, #data, #event').click(function() {
      var which = $(this).attr('id'),
              code = $(this).parent().siblings('pre'),
              time = $(this).parent().siblings('.time'),
              start = (new Date());

      switch (which) {
        case 'page':
          slimTrack.page({url : "http://www.ft.com/home/uk", callback: function(response) {
              time.html('<p>Response time: ' + ((new Date()) - start) + 'msec</p>');
              code.text(JSON.stringify(response, undefined, 2));
            }});
          break;
        case 'data':
          slimTrack.data({variable: (data_counter += 1), callback: function(response) {
              time.html('<p>Response time: ' + ((new Date()) - start) + 'msec</p>');
              code.text(JSON.stringify(response, undefined, 2));
            }});
          break;
        case 'event':
          slimTrack.event({callback: function(response) {
              time.html('<p>Response time: ' + ((new Date()) - start) + 'msec</p>');
              code.text(JSON.stringify(response, undefined, 2));
            }});
          break;
      }
    });
  });
</script>